name: Testing Linting Pipeline

on:
  push:
    branches:
      - main

  workflow_dispatch:

jobs:
  build:
    runs-on: self-hosted
    steps:
      - uses: actions/checkout@v2
      - name: Set up JDK 1.8
        uses: actions/setup-java@v1
        with:
          java-version: 1.8
      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: 3.8
      - uses: actions/setup-node@v2.1.2
        with:
          node-version: "12.x"
          registry-url: "https://registry.npmjs.org"
      - name: Install Python dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements/dev.txt
      - name: Install Node dependencies
        run: npm install
      - name: Who Am I?
        run: whoami
      - run: cp .env.example .env
      - name: Run Node lints
        run: npm run lint
      - name: Run Python lints
        run: flask lint --check
      - name: Run Python tests
        run: flask test
      - name: Synopsys Detect
        uses: thoughtvacuum/blackduck-githubaction@v2
        with:
          version: 7
          args: '--blackduck.url="${{ secrets.BLACKDUCK_URL}}" --blackduck.api.token="${{ secrets.BLACKDUCK_API_TOKEN}}" --blackduck.trust.cert=true --detect.policy.check.fail.on.severities=BLOCKER --detect.risk.report.pdf=true'
      - name: Build
        run: sudo docker-compose build flask-dev
      
